@tailwind base;
@tailwind components;
@tailwind utilities;

.tablo {
    color:white;
    font-size: 90px;
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: right;
}